body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    	background: #f0f0f0;
}

span{
	font-size: 14px;
	color: #000;
	transition: 0.3s;
}

img{
	width: 70px;
	border-radius: 35px;
	margin: 10px 15px 0 0;
}

table {
	margin: 0;
	float: right;
    	padding-right: 20px;
}

table tr td:first-child {
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: #1A6DBB;
	transition: color .3s ease-in-out;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

.intro {
	margin: 80px 0 90px 0;
	text-align: center;
}

.intro span {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 40px;
}
